/* pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* tablet&mobile */
@media (max-width: 991.98px) {
  /* ẩn navbar */
  .navbar {
    display: none;
  }
  /* chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* căn vị trí icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* kiểm tra nếu checkboxx checked thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* kiểm tra nếu checkbox đc check thì bật menudrawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* menu-top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero__content {
    order: 2;
  }
  .hero__media {
    order: 1;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__row {
    justify-content: center;
  }

  /* khối services */
  .services__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .services__img {
    width: 100%;
  }
  .service-item {
    width: 90%;
    text-align: start;
  }

  .service__list {
    text-align: center;
  }

  /* work list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__img--small {
    display: none;
  }
  .about__media {
    width: 100%;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about__content {
    width: 90%;
    text-align: center;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98) {
}

/* mobile */
@media (max-width: 767.98px) {
}

/* tạm ẩn */
.footer {
  display: none;
}
